.section {
  margin-top: 30px;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.section__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
